<div class="row">
    <div ng-include="'partials/flash_message/flash_message.html'"></div>
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">登錄</h1>
        <div class="account-wall">
                <img class="profile-img" src="http://7xigc0.com1.z0.glb.clouddn.com/582985648.jpg"
                     alt="">

              <form (ngSubmit)="login()" #loginForm="ngForm" class="form-signin"  >
                <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1445232629##b0ce532664a5ff9efc5945769ad92f78250df491"></div>
                <input class="form-control" id="username" name="username" placeholder="用户名" type="text" [(ngModel)]="user.username">
                <input class="form-control" id="password" name="password" placeholder="密码" type="password" [(ngModel)]="user.password">
                <Input class="btn btn-block" id="submit" name="submit" type="submit" value="登录">
                <label class="ckeckbox pull-left">
                     <input type="checkbox" name="remember_me" [(ngModel)]="rememberMe">
                       记住登陆
                </label>
                <a href="/auth/auth/changepass" class="pull-right need-help">忘记密码? </a><span class="clearfix"></span>
            </form>
        </div>
        <!-- <a ui-sref="register" class="text-center new-account">注册新用户 </a> -->
    </div>
</div>

<form #registrationForm="ngForm" (ngSubmit)="registerUser(registrationForm.value)">

    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" placeholder="Username" ngControl="username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" class="form-control" placeholder="Email" ngControl="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" placeholder="Password" ngControl="password">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>

  </form>
